podman_user: podman
podman_group: podman
podman_appdata_dir: /home/podman/appdata
quadlet_dir: /home/podman/.config/containers/systemd
paperless_db_paperless_passwd:
paperless_secret_key:
HUGGINGFACE_TOKEN:
OPENAI_API_KEY:
CREDS_KEY:
CREDS_IV:
MEILI_MASTER_KEY:
JWT_SECRET:
JWT_REFRESH_SECRET:
DOMAIN: https://librechat.example.com
PAPERLESS_URL: https://paperless.example.com
paperless_ngx_env_template_file: paperless-ngx.env.j2
stirling_pdf_env_template_file: stirling-pdf.env.j2
STIRLING_PDF_SECURITY_OAUTH2_ISSUER: "https://authentik.example.com/application/o/stirling-pdf/"
STIRLING_PDF_SECURITY_OAUTH2_CLIENTID:
STIRLING_PDF_SECURITY_OAUTH2_CLIENTSECRET:
