---
- name: Set service name variable
  ansible.builtin.set_fact:
    service_name: authentik-pod
- name: Create folder for Authentik data
  ansible.builtin.file:
    path: "{{ podman_appdata_dir }}/{{ item }}"
    state: directory
    owner: "{{ podman_user }}"
    group: "{{ podman_group }}"
    mode: "0755"
  loop:
    - authentik/postgres/data
    - authentik/media
    - authentik/certs
- name: Generate authentik.env from template
  ansible.builtin.template:
    src: "{{ authentik_env_template_file }}"
    dest: "{{ quadlet_dir }}/authentik.env"
    owner: "{{ podman_user }}"
    group: "{{ podman_group }}"
    mode: "0600"
- name: Generate authentik-postgres.env from template
  ansible.builtin.template:
    src: "{{ authentik_postgres_env_template_file }}"
    dest: "{{ quadlet_dir }}/authentik-postgres.env"
    owner: "{{ podman_user }}"
    group: "{{ podman_group }}"
    mode: "0600"
- name: Create authentik pod
  containers.podman.podman_pod:
    name: authentik
    state: quadlet
    quadlet_filename: authentik
    quadlet_file_mode: "0644"
    quadlet_dir: "{{ quadlet_dir }}"
    infra_name: "authentik-pod"
    ports:
      - "9000:9000"
- name: Create authentik-postgres Quadlet
  containers.podman.podman_container:
    name: authentik-postgres
    image: docker.io/postgres:16.11@sha256:cf2a05fe40887b721e4b3dbac8fd32673c08292dcc8ba6b62b52b7f640433bd0
    state: quadlet
    quadlet_filename: authentik-postgres
    quadlet_file_mode: "0644"
    quadlet_dir: "{{ quadlet_dir }}"
    pod: authentik.pod
    volumes:
      - "{{ podman_appdata_dir }}/authentik/postgres/data:/var/lib/postgresql/data:Z"
    env_file:
      - authentik-postgres.env
    health_cmd: "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"
    health_startup_interval: 30s
    health_startup_retries: 5
    healthcheck_start_period: 20s
    healthcheck_timeout: 10s
    quadlet_options:
      - "NoNewPrivileges=true"
      - |
        [Service]
        Restart=always
      - |
        [Install]
        WantedBy=default.target
  notify: Restart service
- name: Create authentik-server Quadlet
  containers.podman.podman_container:
    name: authentik-server
    image: ghcr.io/goauthentik/server:2025.10.2@sha256:8322e449feefcc2416f0401038d5a1a28552c4403b079a59d3b4d978d8f3f530
    state: quadlet
    quadlet_filename: authentik-server
    quadlet_file_mode: "0644"
    quadlet_dir: "{{ quadlet_dir }}"
    pod: authentik.pod
    volumes:
      - "{{ podman_appdata_dir }}/authentik/media:/media:z"
    env_file:
      - authentik.env
    quadlet_options:
      - "NoNewPrivileges=true"
      - "Exec=server"
      - |
        [Service]
        Restart=always
        [Install]
        WantedBy=default.target
  notify: Restart service
- name: Create authentik-worker Quadlet
  containers.podman.podman_container:
    name: authentik-worker
    image: ghcr.io/goauthentik/server:2025.10.2@sha256:8322e449feefcc2416f0401038d5a1a28552c4403b079a59d3b4d978d8f3f530
    state: quadlet
    quadlet_filename: authentik-worker
    quadlet_file_mode: "0644"
    quadlet_dir: "{{ quadlet_dir }}"
    pod: authentik.pod
    volumes:
      - "{{ podman_appdata_dir }}/authentik/media:/media:z"
      - "{{ podman_appdata_dir }}/authentik/certs:/certs:Z"
    env_file:
      - authentik.env
    quadlet_options:
      - "NoNewPrivileges=true"
      - "Exec=worker"
      - |
        [Service]
        Restart=always
      - |
        [Install]
        WantedBy=default.target
  notify: Restart service
# - name: Change owner of authentik/{media,certs} directories to 1000:1000
# authentik-server and authentik-worker run as authentik user with UID 1000
# inside these containers
# Podman is unable to automatically change owner of the directories inside the containers
# so we need to run podman unshare to run chown inside Podman's user namespace
# ansible.builtin.shell: |
#   podman unshare chown -R 1000:1000 {{ podman_appdata_dir }}/authentik
# become_user: "{{ podman_user }}"
- name: Open firewalld port for Authentik
  ansible.posix.firewalld:
    port: "9000/tcp"
    permanent: true
    immediate: true
    state: enabled
  notify:
    - Reload firewalld
