---
- name: Load Infisical secrets
  ansible.builtin.include_tasks: ../roles/common/tasks/infisical.yaml
- name: Extract PAPERLESS_DB_PASSWORD
  ansible.builtin.set_fact:
    services_paperless_db_password: >-
      {{
        (
          infisical_secrets_raw
          | selectattr('key', 'equalto', 'PAPERLESS_DB_PASSWORD')
          | first
        ).value
      }}
  no_log: true
- name: Extract PAPERLESS_SECRET_KEY
  ansible.builtin.set_fact:
    services_paperless_secret_key: >-
      {{
        (
          infisical_secrets_raw
          | selectattr('key', 'equalto', 'PAPERLESS_SECRET_KEY')
          | first
        ).value
      }}
  no_log: true
- name: Extract DOMAIN
  ansible.builtin.set_fact:
    services_domain: >-
      {{
        (
          infisical_secrets_raw
          | selectattr('key', 'equalto', 'DOMAIN')
          | first
        ).value
      }}
  no_log: true
- name: Create folders for Paperless-ngx config files
  ansible.builtin.file:
    path: "{{ podman_appdata_dir }}/{{ item }}"
    state: directory
    owner: "{{ podman_user }}"
    group: "{{ podman_group }}"
    mode: "0755"
  loop:
    - paperless-ngx/redis
    - paperless-ngx/postgres
    - paperless-ngx/data
    - paperless-ngx/media
    - paperless-ngx/export
    - paperless-ngx/consume
- name: Copy Paperless-ngx environment files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ quadlet_dir }}"
    owner: "{{ podman_user }}"
    group: "{{ podman_group }}"
    mode: "0600"
  loop:
    - paperless-ngx-redis.env
    - paperless-ngx-postgres.env
- name: Create Paperless-ngx database password
  containers.podman.podman_secret:
    state: present
    name: paperless_db_paperless_passwd
    data: "{{ services_paperless_db_password }}"
  become: true
  become_user: "{{ podman_user }}"
- name: Create Paperless-ngx secret paperless_secret_key
  containers.podman.podman_secret:
    state: present
    name: paperless_secret_key
    data: "{{ services_paperless_secret_key }}"
  become: true
  become_user: "{{ podman_user }}"
- name: Generate paperless-ngx.env from template
  ansible.builtin.template:
    src: "{{ paperless_ngx_env_template_file }}"
    dest: "{{ quadlet_dir }}/paperless-ngx.env"
    owner: "{{ podman_user }}"
    group: "{{ podman_group }}"
    mode: "0600"
- name: Create paperless-ngx pod
  containers.podman.podman_pod:
    name: paperless-ngx
    state: quadlet
    quadlet_filename: paperless-ngx
    quadlet_file_mode: "0644"
    quadlet_dir: "{{ quadlet_dir }}"
    infra_name: "paperless-ngx-pod"
    ports:
      - "8001:8000"
- name: Create paperless-ngx-redis Quadlet
  containers.podman.podman_container:
    name: paperless-ngx-redis
    image: docker.io/redis:8.4.0@sha256:3906b477e4b60250660573105110c28bfce93b01243eab37610a484daebceb04
    state: quadlet
    quadlet_filename: paperless-ngx-redis
    quadlet_file_mode: "0644"
    quadlet_dir: "{{ quadlet_dir }}"
    pod: paperless-ngx.pod
    volumes:
      - "{{ podman_appdata_dir }}/paperless-ngx/redis:/data:Z"
    env_file:
      - paperless-ngx-redis.env
    health_cmd: "redis-cli ping | grep PONG"
    health_startup_interval: 30s
    health_startup_retries: 5
    healthcheck_start_period: 20s
    healthcheck_timeout: 10s
    quadlet_options:
      - "NoNewPrivileges=true"
      - |
        [Service]
        Restart=always
        TimeoutStartSec=90
      - |
        [Install]
        WantedBy=default.target
- name: Create paperless-ngx-postgres Quadlet
  containers.podman.podman_container:
    name: paperless-ngx-postgres
    image: docker.io/postgres:18.1@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
    state: quadlet
    quadlet_filename: paperless-ngx-postgres
    quadlet_file_mode: "0644"
    quadlet_dir: "{{ quadlet_dir }}"
    pod: paperless-ngx.pod
    volumes:
      - "{{ podman_appdata_dir }}/paperless-ngx/postgres:/var/lib/postgresql:Z"
    env_file:
      - paperless-ngx-postgres.env
    secrets:
      - paperless_db_paperless_passwd
    health_cmd: "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"
    health_startup_interval: 30s
    health_startup_retries: 5
    healthcheck_start_period: 20s
    healthcheck_timeout: 10s
    quadlet_options:
      - "NoNewPrivileges=true"
      - |
        [Service]
        Restart=always
        TimeoutStartSec=90
      - |
        [Install]
        WantedBy=default.target
- name: Create paperless-ngx Quadlet
  containers.podman.podman_container:
    name: paperless-ngx
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.1@sha256:98528e58787e48c73748608e8d4c03b1692c185e69fc237c00c44d3b4f68b335
    state: quadlet
    quadlet_filename: paperless-ngx
    quadlet_file_mode: "0644"
    quadlet_dir: "{{ quadlet_dir }}"
    pod: paperless-ngx.pod
    volumes:
      - "{{ podman_appdata_dir }}/paperless-ngx/data:/usr/src/paperless/data:Z"
      - "{{ podman_appdata_dir }}/paperless-ngx/media:/usr/src/paperless/media:Z"
      - "{{ podman_appdata_dir }}/paperless-ngx/export:/usr/src/paperless/export:Z"
      - "{{ podman_appdata_dir }}/paperless-ngx/consume:/usr/src/paperless/consume:Z"
    env_file:
      - paperless-ngx.env
    secrets:
      - paperless_secret_key
      - paperless_db_paperless_passwd
    health_cmd: "curl -fs -S --max-time 2 http://localhost:8000"
    health_startup_interval: 30s
    health_startup_retries: 5
    healthcheck_start_period: 20s
    healthcheck_timeout: 10s
    quadlet_options:
      - "NoNewPrivileges=true"
      - |
        [Service]
        Restart=always
        TimeoutStartSec=90
      - |
        [Install]
        WantedBy=default.target
- name: Open firewalld port for Paperless-ngx
  ansible.posix.firewalld:
    port: "8001/tcp"
    permanent: true
    immediate: true
    state: enabled
  notify:
    - Reload firewalld
