---
- name: Create folders for Paperless-ngx config files
  ansible.builtin.file:
    path: "{{ podman_appdata_dir }}/{{ item }}"
    state: directory
    owner: "{{ podman_user }}"
    group: "{{ podman_group }}"
    mode: "0755"
  loop:
    - paperless-ngx/redis
    - paperless-ngx/postgres
    - paperless-ngx/data
    - paperless-ngx/media
    - paperless-ngx/export
    - paperless-ngx/consume
- name: Copy Paperless-ngx environment files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ quadlet_dir }}"
    owner: "{{ podman_user }}"
    group: "{{ podman_group }}"
    mode: "0600"
  loop:
    - paperless-ngx-redis.env
    - paperless-ngx-postgres.env
- name: Create Paperless-ngx database password
  containers.podman.podman_secret:
    state: present
    name: paperless_db_paperless_passwd
    data: "{{ paperless_db_paperless_passwd }}"
  become_user: "{{ podman_user }}"
- name: Create Paperless-ngx secret paperless_secret_key
  containers.podman.podman_secret:
    state: present
    name: paperless_secret_key
    data: "{{ paperless_secret_key }}"
  become_user: "{{ podman_user }}"
- name: Generate paperless-ngx.env from template
  ansible.builtin.template:
    src: "{{ paperless_ngx_env_template_file }}"
    dest: "{{ quadlet_dir }}/paperless-ngx.env"
    owner: "{{ podman_user }}"
    group: "{{ podman_group }}"
    mode: "0600"
- name: Create paperless-ngx pod
  containers.podman.podman_pod:
    name: paperless-ngx
    state: quadlet
    quadlet_filename: paperless-ngx
    quadlet_dir: "{{ quadlet_dir }}"
    infra_name: "paperless-ngx-pod"
    ports:
      - "8001:8000"
- name: Create paperless-ngx-redis Quadlet
  containers.podman.podman_container:
    name: paperless-ngx-redis
    image: docker.io/redis:8.4.0@sha256:43355efd22490e31ca14b9d569367d05121e2be61fd8e47937563ae2a80952ae
    state: quadlet
    quadlet_filename: paperless-ngx-redis
    quadlet_dir: "{{ quadlet_dir }}"
    pod: paperless-ngx.pod
    volumes:
      - "{{ podman_appdata_dir }}/paperless-ngx/redis:/data:Z"
    env_file:
      - paperless-ngx-redis.env
    health_cmd: "redis-cli ping | grep PONG"
    health_startup_interval: 30s
    health_startup_retries: 5
    healthcheck_start_period: 20s
    healthcheck_timeout: 10s
    quadlet_options:
      - "NoNewPrivileges=true"
      - |
        [Service]
        Restart=always
        TimeoutStartSec=90
      - |
        [Install]
        WantedBy=default.target
  notify:
    - Restart service
- name: Create paperless-ngx-postgres Quadlet
  containers.podman.podman_container:
    name: paperless-ngx-postgres
    image: docker.io/postgres:18.1@sha256:5ec39c188013123927f30a006987c6b0e20f3ef2b54b140dfa96dac6844d883f
    state: quadlet
    quadlet_filename: paperless-ngx-postgres
    quadlet_dir: "{{ quadlet_dir }}"
    pod: paperless-ngx.pod
    volumes:
      - "{{ podman_appdata_dir }}/paperless-ngx/postgres:/var/lib/postgresql:Z"
    env_file:
      - paperless-ngx-postgres.env
    secrets:
      - paperless_db_paperless_passwd
    health_cmd: "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"
    health_startup_interval: 30s
    health_startup_retries: 5
    healthcheck_start_period: 20s
    healthcheck_timeout: 10s
    quadlet_options:
      - "NoNewPrivileges=true"
      - |
        [Service]
        Restart=always
        TimeoutStartSec=90
      - |
        [Install]
        WantedBy=default.target
  notify:
    - Restart service
- name: Create paperless-ngx Quadlet
  containers.podman.podman_container:
    name: paperless-ngx
    image: ghcr.io/paperless-ngx/paperless-ngx:2.19.6@sha256:719a4e4c4314b417646b00e58bfbfbe55e4cb59017a2dec1533e96d8deb66ec1
    state: quadlet
    quadlet_filename: paperless-ngx
    quadlet_dir: "{{ quadlet_dir }}"
    pod: paperless-ngx.pod
    volumes:
      - "{{ podman_appdata_dir }}/paperless-ngx/data:/usr/src/paperless/data:Z"
      - "{{ podman_appdata_dir }}/paperless-ngx/media:/usr/src/paperless/media:Z"
      - "{{ podman_appdata_dir }}/paperless-ngx/export:/usr/src/paperless/export:Z"
      - "{{ podman_appdata_dir }}/paperless-ngx/consume:/usr/src/paperless/consume:Z"
    env_file:
      - paperless-ngx.env
    secrets:
      - paperless_secret_key
      - paperless_db_paperless_passwd
    health_cmd: "curl -fs -S --max-time 2 http://localhost:8000"
    health_startup_interval: 30s
    health_startup_retries: 5
    healthcheck_start_period: 20s
    healthcheck_timeout: 10s
    quadlet_options:
      - "NoNewPrivileges=true"
      - |
        [Service]
        Restart=always
        TimeoutStartSec=90
      - |
        [Install]
        WantedBy=default.target
  notify:
    - Restart service
- name: Open firewalld port for Paperless-ngx
  ansible.posix.firewalld:
    port: "8001/tcp"
    permanent: true
    immediate: true
    state: enabled
  notify:
    - Reload firewalld
