inventory
inventory.yaml
ansible.cfg
.vscode/
.ansible/
host_vars/
files/public_keys/ansible.pub
roles/podman/vars/main.yml
roles/podman/files/paperless-ngx.env
roles/podman/files/librechat.env
roles/podman/files/authentik-postgres.env
roles/podman/files/authentik.env
roles/podman/files/stirling-pdf.env
roles/deploy_monitoring/files/prometheus.yaml
roles/deploy_monitoring/vars/main.yml
roles/deploy_monitoring/files/homepage.env
roles/deploy_monitoring/files/settings.yaml
roles/deploy_monitoring/files/services.yaml
roles/deploy_monitoring/files/speedtest-tracker.env
roles/deploy_services/vars/main.yml

