monitoring_podman_user: podman
monitoring_podman_group: podman
monitoring_podman_appdata_dir: /home/podman/appdata
monitoring_quadlet_dir: /home/podman/.config/containers/systemd
monitoring_grafana_db_passwd:
