# Admin
HOMEPAGE_VAR_PROXMOX_URL=https://proxmox.example.com
HOMEPAGE_VAR_AUTHENTIK_URL=https://authentik.example.com
HOMEPAGE_VAR_PBS_URL=https://pbs.example.com
HOMEPAGE_VAR_OPNSENSE_URL=https://opnsense.example.com
HOMEPAGE_VAR_OPENWRT_URL=https://wifi.example.com
HOMEPAGE_VAR_PIHOLE_URL=https://pihole.example.com
HOMEPAGE_VAR_SWITCH_URL=https://switch1.example.com
HOMEPAGE_VAR_TRUENAS_URL=https://nas.example.com
HOMEPAGE_VAR_AUTHENTIK_URL=https://authentik.example.com

# Tools
HOMEPAGE_VAR_CHANGEDETECTION_URL=https://changedetection.example.com
HOMEPAGE_VAR_PAPERLESS_URL=https://paperless.example.com
HOMEPAGE_VAR_ACTUAL_BUDGET_URL=https://budget.example.com
HOMEPAGE_VAR_FORGEJO_URL=https://forgejo.example.com
HOMEPAGE_VAR_STIRLING_PDF_URL=https://pdf.example.com
HOMEPAGE_VAR_LIBRECHAT_URL=https://librechat.example.com
HOMEPAGE_VAR_SYNCTHING_MALINKA_URL=https://syncthing.example.com
HOMEPAGE_VAR_SYNCTHING_NAS_URL=https://syncthing-nas.example.com
HOMEPAGE_VAR_IMMICH_URL=https://immich.example.com

# Reading
HOMEPAGE_VAR_FRESHRSS_URL=https://rss.example.com
HOMEPAGE_VAR_ARCHIVEBOX_URL=https://archive.example.com
HOMEPAGE_VAR_READECK_URL=https://readeck.example.com
HOMEPAGE_VAR_KIWIX_URL=https://kiwix.example.com

# Required from version 1.0
HOMEPAGE_ALLOWED_HOSTS=homepage.example.com
