PAPERLESS_URL=https://paperless.example.com
PAPERLESS_REDIS=redis://localhost:6379
PAPERLESS_DBENGINE=postgresql
PAPERLESS_DBHOST=localhost
PAPERLESS_TIME_ZONE=Europe/Helsinki
PAPERLESS_DBUSER=paperless
PAPERLESS_FILENAME_FORMAT="{created_year}/{correspondent}/{created} {title}"
PAPERLESS_DBPASS_FILE=/run/secrets/paperless_db_paperless_passwd
PAPERLESS_SECRET_KEY_FILE=/run/secrets/paperless_secret_key
