DOCKER_ENABLE_SECURITY=true
SECURITY_ENABLELOGIN=true
SECURITY_OAUTH2_ENABLED=true
SECURITY_OAUTH2_AUTOCREATEUSER=true
SECURITY_OAUTH2_ISSUER=https://auth.example.com/application/o/stirling-pdf/
SECURITY_OAUTH2_CLIENTID=xx
SECURITY_OAUTH2_CLIENTSECRET=xx
SECURITY_OAUTH2_SCOPES=openid,profile,email
SECURITY_OAUTH2_USEASUSERNAME=email
SECURITY_OAUTH2_PROVIDER=auth
