{
	email admin@example.com
	crowdsec {
		api_key 12345
		api_url http://192.168.1.1:8080/
	}
}

*.example.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}

	@service host service.example.com
	handle @service {
		reverse_proxy http://192.168.100.11:5000
	}
}
