GF_INSTALL_PLUGINS="grafana-clock-panel"
GF_DATABASE_TYPE=postgres
GF_DATABASE_HOST=localhost:5432
GF_DATABASE_NAME=grafana
GF_DATABASE_USER=grafana
GF_DATABASE_PASSWORD_FILE=/run/secrets/grafana_db_passwd
