# Keys
# Required key for platform encryption/decryption ops
# THIS IS A SAMPLE ENCRYPTION KEY AND SHOULD NEVER BE USED FOR PRODUCTION
ENCRYPTION_KEY={{ deploy_infisical_encryption_key }}

# JWT
# Required secrets to sign JWT tokens
# THIS IS A SAMPLE AUTH_SECRET KEY AND SHOULD NEVER BE USED FOR PRODUCTION
AUTH_SECRET={{ deploy_infisical_auth_secret }}

# Postgres creds
POSTGRES_PASSWORD={{ deploy_infisical_postgres_password }}
POSTGRES_USER=infisical
POSTGRES_DB=infisical

# Required for rootless Podman
PGUSER=infisical

# Required
DB_CONNECTION_URI=postgres://infisical:{{ deploy_infisical_postgres_password }}@localhost:5432/infisical

# Redis
REDIS_URL=redis://localhost:6379

# Website URL
# Required
SITE_URL={{ deploy_infisical_site_url }}
