AUTHENTIK_REDIS__HOST=localhost
AUTHENTIK_POSTGRESQL__HOST=localhost
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ AUTHENTIK_POSTGRES_PASSWORD }}
AUTHENTIK_SECRET_KEY={{ AUTHENTIK_SECRET_KEY }}
