DOCKER_ENABLE_SECURITY=true
SECURITY_ENABLELOGIN=true
SECURITY_OAUTH2_ENABLED=true
SECURITY_OAUTH2_AUTOCREATEUSER=true
SECURITY_OAUTH2_ISSUER={{ STIRLING_PDF_SECURITY_OAUTH2_ISSUER }}
SECURITY_OAUTH2_CLIENTID={{ STIRLING_PDF_SECURITY_OAUTH2_CLIENTID }}
SECURITY_OAUTH2_CLIENTSECRET={{ STIRLING_PDF_SECURITY_OAUTH2_CLIENTSECRET }}
SECURITY_OAUTH2_SCOPES=openid,profile,email
SECURITY_OAUTH2_USEASUSERNAME=email
SECURITY_OAUTH2_PROVIDER=authentik
